.list-item {
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  align-items: center;
}

.list-item__name {
  width: 50%;
}

.list-item__price {
  width: 20%;
}

.list-item__unit {
  width: 10%;
}

@media (max-width: 767px) {
  .list-item__name {
    width: 20%;
  }  
}