<h1 class="title">Довідник товарів</h1>
<div class="container">
  <h3 class="add">
    <div class="add__text">створити</div>
    <div class="icon list_icon" (click)="showWindowForAdd(true)">
      <img class="icon__img" src="../../../assets/square-plus-solid.svg" alt=""></div>
  </h3>
  <div class="list">
    <div class="list__name">назва</div>
    <div class="list__price">ціна</div>
    <div class="list__unit">одиниця виміру</div>
    <div class="icon"></div>
    <div class="icon"></div>
  </div>
  <app-directory-item *ngFor="let item of dataList" 
    [item]="item"
    (onChangedData)="setDataForOpenWindow($event)"
    (onChangedState)="showWindowForAdd($event)"
    (onDeleteItem)="deleteItem($event)"
  ></app-directory-item> 
  <app-open-window *ngIf="isWindowForAddingOpen" 
    [isWindowForAddingOpen]="isWindowForAddingOpen"
    [itemForChange]="itemForChange"
    (onChangedState)="showWindowForAdd($event)"
    (onPostedData)="postData($event)"
  ></app-open-window>
</div>
